html, body {
margin: 0;
padding: 0;

}
@font-face {
	font-family: Merw;
	src: url('Merriweather-Regular.ttf');
}
@font-face {
	font-family: open;
	src: url('OpenSans-Regular.ttf');
}
.row {
	margin-left: 0;
	padding-right: 24px;
}
.header {
	min-width: 100vw;
	background: black;
	background-image: url('real-style-4.jpg');
	background-position: center center;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;  
	margin: 0;
	
}
.logo {
	
}
.header-content img {
	width: 99%;
	display: inline-block;
	text-align: center;
	
}
.block-content  {
	min-width: 100vw;
	padding: 60px 80px;
	padding-left: 115px;
	
	
}
h2 {
	font-family: Merw !important;
	font-weight: normal;
	text-align: center;
}
p, h3 {
	font-family:  open !important;
	font-weight: normal;
	line-height: 1.75;
	font-size: 18px;
	text-align: center;
}
.coll-nav {
	
	text-align: center;
	height: 300px;
	background:  #e9633d;
	margin: 7px;
	padding-top: 130px;
}
.coll-nav:hover {
	background: #992d09;
}
.coll-nav-1 {
	
	text-align: center;
	height: 300px;
	background: #e9633d;
	margin: 7px;
	padding-top: 130px;
	
}
.coll-nav-1:hover {
	background: #992d09;
}
.nav {
	min-width: 100vw;
	background: #f28b68;
	padding-top: 50px;
	padding-bottom: 50px;
}
.under-line {
	min-width: 100vw;
	background: white;
	background-image: url('nav-fon.png');
	height: 170px;
}
.nav  a{
	text-decoration: none;
	color: white;
	font-family:  open !important;
	font-weight: normal;
	line-height: 1.75;
	font-size: 20px;
	
	

}
.nav a:hover {
	text-decoration: none;
	color: white;
	font-family:  open !important;
	font-weight: normal;
	line-height: 1.75;
	font-size: 20px;
}